.image-preview {
    width: 500px;
    margin: auto;
    padding: 20px;
}
  
.dropzone {
    width: 100%;
    height: 100px;
    border: 2px dashed #ccc;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;
  }
  
.dropzone p {
    font-size: 16px;
    color: #ccc;
}
  
.preview-container {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
  
#image-link {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
  
#preview-button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#preview-button:hover {
    background-color: #0062cc;
}
  