.main_div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
  }
  
.div_column {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
  }
  
@media (max-width: 720px) {
    .div_column {
        width: 50%;
    }
  }
  
@media (max-width: 360px) {
    .div_column {
      width: 100%;
    }
  }
  